<template>
  <div class="container my-5">
    <!-- Filter menu -->
    <div class="filter-menu d-flex mb-2">
      <!-- Filter by position -->
      <b-dropdown id="dropdown-by-position" text="Filter by position" class="dropdown-by-position p-2">
        <b-form-checkbox
          v-for="(position, index) in positions" :key="index"
          v-model="filters.positions"
          @change="changePositionParent(position)"
          :value="position.id"
          :name="position.name">
           {{position.name}}

            <div class="dropdown-sublevel" v-if="filters.positions.includes(position.id)">
              <b-form-checkbox
                v-for="(p, index) in position.children" :key="index"
                v-model="filters.positions"
                @change="getJobs(1)"
                :value="p.id"
                :name="p.name">
                 {{p.name}}
              </b-form-checkbox>
            </div>
        </b-form-checkbox>
      </b-dropdown>

      <!-- Page size selector -->
      <b-dropdown id="dropdown-per-page" :text="filterPerPageSelected" v-model="filterPerPageSelected" class="ms-auto p-2">
        <b-dropdown-item v-for="(filter, index) in filtersPerPage" :key="index" v-on:click="setFilterPerPage(filter.name)">{{filter.name}}</b-dropdown-item>
      </b-dropdown>
    </div>

    <!-- Jobs list -->
    <div class="row">
      <job-feed v-for="(job, index) in jobs"
        :key="index"
        :title="job.job.title"
        :company_display_name="job.job.unit.display_name"
        :position_function="job.job.position_function.name_en"
        :due_date="job.job.due_date"
      />
      <div v-if="jobs.length == 0">
        <h2 class="text-center">There are no results for this position filter.</h2>
      </div>
    </div>

    <!-- Pagination -->
    <div class="d-flex justify-content-center my-5" v-if="pagination.enable">
      <nav v-show="pagination.totalPages">
        <ul class="pagination">
          <li class="page-item" v-if="pagination.previous" v-on:click="getJobs('first')">
            <a class="page-link">
              <b-icon icon="chevron-double-left" aria-hidden="true"></b-icon>
            </a>
          </li>
          <li class="page-item" v-if="pagination.previous" v-on:click="getJobs('previous')">
            <a class="page-link">
              <b-icon icon="chevron-left" aria-hidden="true"></b-icon>
            </a>
          </li>

          <li class="page-item" :class="{ 'active': index == pagination.actual}" v-for="index in pagination.totalPages" :key="index">
            <a class="page-link" v-on:click="getJobs(index)">{{index}}</a>
          </li>

          <li class="page-item" v-if="pagination.next">
            <a class="page-link" v-on:click="getJobs('next')">
              <b-icon icon="chevron-right" aria-hidden="true"></b-icon>
            </a>
          </li>
          <li class="page-item" v-if="pagination.next">
            <a class="page-link" v-on:click="getJobs('last')">
              <b-icon icon="chevron-double-right" aria-hidden="true"></b-icon>
            </a>
          </li>
        </ul>
      </nav>
    </div>
  </div>
</template>

<script>
import JobFeed from '@/components/JobFeed.vue';


export default {
  name: 'Home',
  components: {
    JobFeed,
  },
  data () {
    return {
      // List of jobs
      jobs: [],
      // List of positions
      positions: [],

      // Pagination
      pagination: {
        size: 5,
        actual: 1,
        next: '',
        previous: '',
        totalPages: 0,
        start: 1,
        end: 1,
        enable: true,

        // Jobs number
        nJobs: 0,
      },

      // Total jobs
      totalJobs: 0,

      // Filters
      filterPerPageSelected: '5 per page',
      filters: {
        perPage: [
          {
            name: '5 per page', 
            size: 5,
          },
          {
            name: '25 per page',
            size: 25, 
          },
          {
            name: 'Display all',
            size: -1,
          },
        ],
        positions: [],
      }
    }
  },
  created() {
    // Get jobs
    this.getJobs(1);

    // Get positions
    this.getPositionFunction();
  },
  methods: {
    // Get jobs list from the API
    async getJobs(page) {
      // Pagination control
      if (page == 'next') {
        this.pagination.actual += 1;
      } else if (page == 'previous') {
        this.pagination.actual -= 1;
      } else if (page == 'first') {
        this.pagination.actual = 1;
      } else if (page == 'last') {
        this.pagination.actual = this.pagination.totalPages;
      } else {
        this.pagination.actual = page;
      }

      // Number of jobs
      var nJobs = 0;
      // Enable pagination
      if (this.pagination.size > 0) {
        nJobs = this.pagination.size;
        this.pagination.enable = true;
      } else {
        nJobs = this.totalJobs;
        this.pagination.enable = false;
      }
      // Define API URL
      let jobsAPIUrl = `https://test-api.mojob.io/public/job/listings/?use_pagination=True&page=${this.pagination.actual}&page_size=${nJobs}&position_functions=${this.filters.positions.join()}`;

      // Call the API to get jobs.
      await this.axios.get(jobsAPIUrl)
      .then((response) => {
        // Assign jobs and pagination
        this.jobs = response.data.results;
        this.pagination.next = response.data.next;
        this.pagination.previous = response.data.previous;
        this.pagination.nJobs = response.data.count;

        if (this.totalJobs == 0) {
          this.totalJobs = response.data.count;
        }

        this.pagination.totalPages = Math.ceil(this.pagination.nJobs / this.pagination.size);
      })
      .catch(error => {
        // Show error
        console.log("Response error: " + error);
      });
    },
    // Get all the position function from the API
    async getPositionFunction() {
      // Define API URL
      let positionFunctionAPIUrl = `https://test-api.mojob.io/public/job/position-functions/`;

      // Call the API to get position function
      await this.axios.get(positionFunctionAPIUrl)
      .then((response) => {
        this.positions = response.data.results;
      })
      .catch(error => {
        // Show error
        console.log("Response error: " + error);
      });
    },
    // Page size controller
    setFilterPerPage(filter) {
      this.filterPerPageSelected = filter;
      this.pagination.size = this.filters.perPage.find(filter => filter.name == this.filterPerPageSelected).size;
      this.pagination.actual = 1;
      // Get jobs with the filters
      this.getJobs(1);
    },
    changePositionParent(positionChanged) {
      // Check if parent is removed and remove his childrens
      if (!this.filters.positions.includes(positionChanged.id)) {
        // Get parent with childrens
        var parent = this.positions.find(position => position.id == positionChanged.id);

        // Remove childrens of this unselected parent
        this.filters.positions = this.filters.positions.filter(position => { 
          return !parent.children.find(children => children.id == position)
        });
      }
      // Get jobs with the filters
      this.getJobs(1);
    }
  },
  computed: {
    filtersPerPage() {
      return this.filters.perPage.filter(filter => filter.name != this.filterPerPageSelected);
    }
  }
}
</script>

<style>
  /* Add shadow to the pagination */
  .pagination li {
    box-shadow: 0 3px 1px -2px transparent, 0 2px 2px 0 rgb(0 0 0 / 14%), 0 1px 5px 0 rgb(0 0 0 / 8%);
  }

  /* Filters menu buttons */
  .filter-menu button,
  .filter-menu .btn-check:checked + .btn-secondary,
  .filter-menu .btn-check:active + .btn-secondary,
  .filter-menu .btn-secondary:active,
  .filter-menu .btn-secondary.active,
  .filter-menu .show > .btn-secondary.dropdown-toggle,
  .filter-menu button:hover,
  .filter-menu button:focus {
    background: #fafdfd;
    color: #333;
    border: none;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 15px;
  }

  /* Size of dropdown by position */
  .dropdown-by-position ul.dropdown-menu {
    padding-left: 15px;
    padding-right: 15px;
    max-height: 380px;
    min-width: 300px;
    overflow-y: auto;
  }

  .dropdown-by-position ul.dropdown-menu label {
    margin-left: 10px;
    display: inline;
  }

  .dropdown-sublevel {
    padding-left: 15px;
  }
</style>
