<template>
  <div class="card my-2 py-2" shadow>
    <div class="card-body">
      <h3 class="card-title">{{ title }}</h3>
      <p class="card-text">
        {{ company_display_name }}
        &#8226;
        {{ position_function }}
        &#8226;
        {{ due_date }}
      </p>
    </div>

  </div>
</template>

<script>
  export default {
    // Job Component Attributes
    props: {
      title: String,
      company_display_name: String,
      position_function: String,
      due_date: String,
    },
  };

</script>

<style scoped>
  /* Add shadow and border to the job card */
  .card {
    box-shadow: 0 3px 1px -2px transparent, 0 1px 2px 0 rgb(0 0 0 / 14%), 0 1px 5px 0 rgb(0 0 0 / 8%);
    border-radius: 11px;
  }

  /* Job card content */
  .card-title {
    font-weight: 400;
    font-size: 28px;
  }
  .card-text {
    font-weight: 300;
    font-size: 18px;
    color: #757575;
  }
</style>
