<template>
  <div id="app" class="h-100">
    <nav class="navbar navbar-expand-lg">
      <div class="container-fluid">
        <a class="navbar-brand" href="/"><img alt="Vue logo" src="./assets/mojob_logo.png" /></a>
      </div>
    </nav>
    <router-view/>
  </div>
</template>

<style lang="scss">
  body {
    height: 100vh;
    overflow: auto;
    background-color: #fafdfd !important;
    font-family: Avenir, Muli, sans-serif !important;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    color: #2c3e50;
  }

  .navbar {
    background-color: white;
  }

  .navbar img {
    width: 105px;
  }
</style>
